*{
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: blueviolet;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: blue;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 2px 2px 0px 3px black;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: blue;
    box-shadow: 5px 5px 10px -3px black;
}

button:active {
    background-color: black;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: black;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px gray;
}

.col-2{
    grid-column: span 2;
}

#valor-Actual {
    font-size: 1.5em;
}

#valor-Anterior {
    font-size: 2em;
}

.edad{
    color: black;
}

.enviar{
    color: black;
}

.formularioEstilo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

